<header>
	<%# <% link_to "/", class: "logo-link" do %>
		<%# <%= image_tag "ralph.png" %>
	<%# <% end %>
	<nav class="container">
		<ul>
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "About Us", "/about" %></li>
			<li><%= link_to "Contact Us", "/contact" %></li>
			<li><%= link_to "Donate", "/donate" %></li>
			<li><%= link_to "Plexus", "/plexus" %></li>
			<li><%= link_to "Sermons", "/sermons" %></li>
			<li><%= link_to "Subscribe", "/subscribe" %></li>
		</ul>
	</nav>
</header>
