<header>
  <% link_to "/" do %>
    <%= image_tag "6-days-banner.jpg", class: "header__image" %>
  <% end %>
  <nav class="navbar">
    <ul class="navbar__links">
      <li>
        <%= link_to "Home", "/" %>
      </li>
      <li>
        <%= link_to "About", "/about" %>
      </li>
      <li>
        <%= link_to "Contact", "/contact" %>
      </li>
      <li>
        <%= link_to "Donate", "/donate" %>
      </li>
      <li>
        <%= link_to "Plexus", "/plexus" %>
      </li>
      <li>
        <%= link_to "Sermons", "/sermons" %>
      </li>
      <li>
        <%= link_to "Subscribe", "/subscribe" %>
      </li>
    </ul>
  </nav>
</header>
