<header>
  <% link_to "/" do %>
    <%= image_tag "6-days-banner.jpg", class: "header__image" %>
  <% end %>
  <nav class="nav-background">
    <ul class="flex flex-wrap items-center justify-center pt-3 text-white">
      <li class="nav-links nav-links:hover">
        <%= link_to "Home", "/" %>
      </li>
      <li class="nav-links nav-links:hover">
        <%= link_to "About", "/about" %>
      </li>
      <li class="nav-links nav-links:hover">
        <%= link_to "Contact", "/contact" %>
      </li>
      <li class="nav-links nav-links:hover">
        <%= link_to "Donate", "/donate" %>
      </li>
      <li class="nav-links nav-links:hover">
        <%= link_to "Plexus", "/plexus" %>
      </li>
      <li class="nav-links nav-links:hover">
        <%= link_to "Sermons", "/sermons" %>
      </li>
      <li class="nav-links nav-links:hover">
        <%= link_to "Subscribe", "/subscribe" %>
      </li>
    </ul>
  </nav>
</header>
