---
title: About Us
---

<h1>About Us</h1>
<%= image_tag "nandk.jpg", class: "w-32 sm:w-auto float-right my-2 ml-4" %>
<p>
  Nathan and Katelin are serving as missionaries to Ukraine. Nathan began ministering in Lviv, Ukraine in 2004. He met Katelin in 2008, they were married one year later, and shortly thereafter returned to Lviv as a couple. The Days are members of Euro Team Outreach <%= link_to "(ETO)", "http://euroteamoutreach.org/", target: :_blank, rel: :noopener %>, and they work with ETO’s other team members to publish the Gospel in Ukraine.
</p>
<p>
  As a member of ETO, Nathan wears many hats. He helps to manage <%= link_to "Bible First", "http://getbiblefirst.com/", target: :_blank, rel: :noopener %>, ETO's correspondence course. Bible First reaches people in Ukraine and around the world with its unique plan of chronological Bible study. Being a fluent speaker of Ukrainian, Nathan plays an important role in the translation of materials into Ukrainian. As the numbers man, he keeps track of statistics that help ETO refine its methods to become more effective, and he also takes care of the ministry’s finances as its treasurer. Nathan is also heavily involved in ETO’s summer project, <%= link_to "Carpathian Mountain Outreach.", "http://cmoproject.org/", target: :_blank, rel: :noopener %> Lastly, in recent years he has begun playing a role in the development and maintenance of ETO's websites.
</p>
<p>
  Katelin's days are full as she juggles many things: raising her children, homeschooling, feeding all the hungry mouths, and keeping the cobwebs at bay. She loves people and socializing brings her great joy! She hopes that she can encourage women by offering a listening ear and a good word. A few of her favorite things about Lviv include the open-air markets, beautiful green parks, and how so many places are accessible by foot.
</p>
<p>
  If you would like to receive updates on the Day family, you may <%= link_to "subscribe", "/subscribe" %> to their blog. If you wish to contact them, you may do so <%= link_to "here.", "https://docs.google.com/forms/d/e/1FAIpQLScegtET6xRZ0I0M_7_tMiPAfBeGqRVmiWCV6Sc9VClkRjYtaQ/viewform", target: :_blank, rel: :noopener %>
</p>
<p>
  <strong>Sending Church:</strong>
</p>
<p>
  <%= link_to "Cherry Valley Community Church", "https://www.cherryvalleycommunitychurch.org/" %>
  <br/>
  9125 E. Greenland Rd
  <br/>
  Franktown, CO 80116
</p>
<p>
  <strong>Family Pictures</strong>
</p>
<p>If you would like a picture of us for your refrigerator or missionary prayer book, feel free to use one of the pictures below. To get a higher-resolution image suitable for printing, click the picture you want to print and a high-resolution copy will appear, which you can save to your computer for printing. Both images are sized for printing as a 4 x 6 photo.</p>
<p>
  <%= link_to image_tag("images/family-600w.jpg"), "https://f000.backblazeb2.com/file/daysinukraine/images/family.jpg" %>
</p>
<p></p>
<blockquote>The Day Family, January 2024</blockquote>
<p>
  <%= link_to image_tag("images/prayer-card-600w.jpg"), "https://f000.backblazeb2.com/file/daysinukraine/images/prayer-card.jpg" %>
</p>
<p></p>
<blockquote>Our Prayer Card</blockquote>
