---
pageable: true
per_page: 4
---
= if prev_page
  %p.forward-backward-links= link_to '&larr; Previous page', prev_page

- page_articles.each_with_index do |article, i|
  %article.article
    %h2.article__post-title= link_to article.title, article
    %p.article__date-author
      = 'Posted on ' + article.date.strftime('%B %e, %G')
      = 'by ' + article.data.author unless article.data.author.nil?
    = article.body

- if paginate
  - if next_page
    %p.forward-backward-links= link_to 'Next page &rarr;', next_page
