!!!
%html
  %head
    = partial "partials/head"
  %body
    %main
      = partial "partials/header"
      %section.container

        #main
          %h1.post-title #{ current_article.title unless current_article.nil? }
          %p.author-date
            = 'Posted on ' + current_article.date.strftime('%B %e, %G') unless current_article.nil?
            = 'by ' + current_article.data.author unless current_article.nil? or current_article.data.author.nil?
          = yield
        
        = partial "partials/sidebar"
      = partial "partials/footer"
