!!!
%html
  %head
    = partial "partials/head"
  %body
    %main.container
      = partial "partials/header"
      %section.content
        .content-main
          %h1.article__post-title #{ current_article.title unless current_article.nil? }
          %p.article__date-author
            = 'Posted on ' + current_article.date.strftime('%B %e, %G') unless current_article.nil?
            = 'by ' + current_article.data.author unless current_article.nil? or current_article.data.author.nil?
          = yield
              
        = partial "partials/sidebar"
      = partial "partials/footer"
