---
title: Sermons
---

<h1>Sermons</h1>

%p The following are recordings of some of the sermons that Nathan has delivered. Left-click the hyperlink to listen or right-click to download the MP3 file to your computer.
%p
  = link_to "Must Israel's Experience Be Ours?", "https://www.dropbox.com/s/dljtd2ovpi7i6ak/Must%20Israel%27s%20experience%20be%20ours.mp3?dl=0"
%p
  = link_to "Hatred", "https://www.dropbox.com/s/n9xtj27onk5pat2/Hatred.mp3?dl=0"
%p
  = link_to "One God, One Bible", "https://www.dropbox.com/s/j4sma9x1fmx98v3/One%20God%2C%20One%20Bible.mp3?dl=0"
%p
  = link_to "Paradigms", "https://www.dropbox.com/s/qqdgx7l8db47846/Paradigms.mp3?dl=0"
%p
  = link_to "Leadership", "https://www.dropbox.com/s/vp5ut0m5r5vtq3r/Leadership.mp3?dl=0"
%br/
%h2 Storybook Lodge messages:
%p
  = link_to "Finding the Will of God", "https://www.dropbox.com/s/ztvlcrmb9p6jus8/Finding%20the%20Will%20of%20God.mp3?dl=0"
%p
  = link_to "Courtship", "https://www.dropbox.com/s/n01hvx0trzrkt42/Courtship.mp3?dl=0"
%p
  = link_to "Evangelism", "https://www.dropbox.com/s/pkg129j31j156xu/Evangelism.mp3?dl=0"
%p
  = link_to "Standards", "https://www.dropbox.com/s/r0p36md501wyvcx/Standards.mp3?dl=0"
%br/
%p
  = link_to "Ministry report given on January 1, 2012", "https://vimeo.com/35405385"
